.footer {
  background-color: #f1fcff;
  color: #bbbaba;
}
.footer-top {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
}
.footer-top-title {
  font-size: 40px;
  font-weight: 800;
}
.footer-top-desc {
  color: #605e5e;
  font-size: 18px;
  margin: 20px auto;
  width: 65%;
}
.footer-top-btn {
  background-color: #2e2d2d;
  color: #fff;
  padding: 10px 14px;
  font-size: 21px;
}

.footer-middle {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: #949393 1px solid;
}
.footer-middle-left {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}
.footer-middle img {
  width: 60px;
  height: 60px;
}
.footer-link {
  font-size: 20px;
  color: #605e5e;
}

.footer-middle-icons {
  display: flex;
  gap: 10px;
  font-size: 30px;
  color: #605e5e;
}
.footer-middle a:hover {
  color: #2e2d2d;
}
.footer-middle-right {
  text-align: center;
  color: #605e5e;
}
@media (max-width: 627px) {
  .footer-top-desc {
    width: 75%;
  }
}
@media (max-width: 580px) {
  .footer-middle-icons {
    font-size: 20px;
  }
  .footer-link {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .footer-middle {
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer-top-desc {
    width: 95%;
  }
  .footer-top {
    padding: 10px;
  }
}
