.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
  background-color: #fff;
  position: fixed;
  padding: 5px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 15;
}
.header a:hover {
  color: #333;
}
.header-logo img {
  width: 50px;
  height: 50px;
}
.header-middle {
  display: flex;
  gap: 60px;
  font-size: 20px;
  color: #605e5e;
}
.header-right {
  background-color: #c0e6f3;
  color: #605e5e;
  padding: 10px 14px;
  font-size: 21px;
  border: 5px;
}
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}
.visible-header-right {
  display: none;
}
@media (max-width: 620px) {
  .header-middle {
    font-size: 16px;
    gap: 30px;
  }
  .header-right {
    padding: 5px 10px;
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  .header-middle {
    font-size: 16px;
    gap: 30px;
  }
  .header-right {
    padding: 5px 10px;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .header-middle,
  .header-right {
    display: none;
  }
  .visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    gap: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
    text-align: center;
  }
  .visible-header-right {
    display: block;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
  }
  .menu-icon {
    display: block;
  }
}
